<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="description" content="Charla de sobrevista a las herramientas de desarrollo y debug DevTools del navegador Google Chrome para programadores y diseñadores de la Internet">
		<meta name="author" content="Romel Pérez">
    <title>Chrome DevTools | Romel Pérez</title>

    <link rel="stylesheet" href="/css/core.css">
		<link rel="stylesheet" href="/css/reveal/reveal.css">
		<link rel="stylesheet" href="/css/reveal/theme.css" id="theme">
    <script src="/js/reveal/links-deps.js"></script>

    <style>
      .s-content p {
        background-color: rgba(0,0,0,0.85);
      }
      .s-link a {
        padding: 20px;
        background-color: rgba(0,0,0,0.6);
      }
      .reveal section img {
        max-height: 600px;
      }
    </style>
	</head>
	<body>

		<div class="reveal">
			<div class="slides">

        <section>
          <img src="/img/talks/chrome-devtools/devtools.png">
          <h1>Chrome DevTools</h1>
          <p>Haz debug de la web con las herramientas de desarrollo Chrome Developer Tools</p>
        </section>

        <section>
          <h2>DevTools: Elements</h2>
          <p>Inspecciona y edita libremente elementos DOM y estilos CSS</p>
          <img src="/img/talks/chrome-devtools/elements.png">
        </section>

        <section>
          <h2>DevTools: Console</h2>
          <p>Haz log y revisa diagnósticos de eventos e información de JavaScript</p>
          <img src="/img/talks/chrome-devtools/console.png">
        </section>

        <section>
          <h2>DevTools: Source</h2>
          <p>Haz debug de código JavaScript revisando ejecución y usando puntos de quiebre</p>
          <img src="/img/talks/chrome-devtools/source.png">
        </section>

        <section>
          <h2>DevTools: Network</h2>
          <p>Analiza peticiones y respuestas web y optimiza el rendimiento de carga y actualizaciones</p>
          <img src="/img/talks/chrome-devtools/network.png">
        </section>

        <section>
          <h2>DevTools: Timeline</h2>
          <p>Registra y analiza los eventos principales de tu aplicación</p>
          <img src="/img/talks/chrome-devtools/timeline.png">
        </section>

        <section>
          <h2>DevTools: Profiles</h2>
          <p>Perfila uso de memoria y encuentra posibles fugas</p>
          <img src="/img/talks/chrome-devtools/profiles.png">
        </section>

        <section>
          <h2>DevTools: Application</h2>
          <p>Inspecciona todos los recursos cargados por tu aplicación</p>
          <img src="/img/talks/chrome-devtools/application.png">
        </section>

        <section>
          <p>Creado por <a href="/">Romel Pérez</a>.</p>
        </section>

			</div>
		</div>

    <script src="/js/core.js"></script>
		<script src="/js/reveal/head.min.js"></script>
		<script src="/js/reveal/reveal.js"></script>
		<script src="/js/reveal/initialize.js"></script>
	</body>
</html>
