<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>404 | Romel Francisco Pérez Estrada</title>
    <meta name="description" content="Romel Francisco Pérez Estrada personal website">
    <meta name="keywords" content="romel perez, romel pérez, romel francisco pérez estrada, prhone, software engineer, frontend engineer, programmer">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="Romel Francisco Pérez Estrada">
    <meta property="og:site_name" content="Romel Francisco Pérez Estrada">
    <meta property="og:description" content="Romel Francisco Pérez Estrada personal website">
    <meta property="og:type" content="profile">
    <meta property="og:url" content="http://romelperez.com">
    <meta property="og:image" content="http://romelperez.com/img/romel-perez.jpg">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Romel Francisco Pérez Estrada">
    <meta name="twitter:description" content="Romel Francisco Pérez Estrada personal website">
    <meta name="twitter:site" content="@romelperez07">
    <meta name="twitter:creator" content="@romelperez07">
    <meta name="twitter:image" content="http://romelperez.com/img/romel-perez.jpg">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <main class="row">
      <div class="column small-12">
        <h1>404 Not Found</h1>
        <p>Sorry, the page you are looking for is not found.</p>
        <a class="pr-btn" href="/">
          <div class="pr-box pr-box_small">
            <div class="pr-box__frame">
              <div class="pr-btn__frame">Go Home</div>
            </div>
            <div class="pr-box__corner pr-box__corner1"></div>
            <div class="pr-box__corner pr-box__corner2"></div>
            <div class="pr-box__corner pr-box__corner3"></div>
            <div class="pr-box__corner pr-box__corner4"></div>
          </div>
        </a>
      </div>
    </main>
  </body>
</html>
