<!DOCTYPE HTML>
<html lang="PRESENTATION LANGUAGE">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="description" content="PRESENTATION DESCRIPTION">
		<meta name="author" content="Romel Pérez">
    <title>PRESENTATION TITLE</title>

    <link rel="stylesheet" href="/css/core.css">
		<link rel="stylesheet" href="/css/reveal/reveal.css">
		<link rel="stylesheet" href="/css/reveal/theme.css" id="theme">

    <script src="/js/reveal/links-deps.js"></script>
	</head>
	<body>

		<div class="reveal">
			<div class="slides">

        <section>
          <h1>PRESENTATION TITLE</h1>
          <p>PRESENTATION DESCRIPTION</p>
        </section>

			</div>
		</div>

		<script src="/js/reveal/head.min.js"></script>
		<script src="/js/reveal/reveal.js"></script>
		<script src="/js/reveal/initialize.js"></script>
	</body>
</html>
